@page "/"
@using BookStore.Frontend.Dtos
@using BookStore.Frontend.Clients
@inject BookClient Clients

<PageTitle>My Book Store</PageTitle>

<h1>📚 My Book Store</h1>


<h4>Add a Book</h4>
<EditForm Model="newBook" OnValidSubmit="HandleAddBook">
    <DataAnnotationsValidator />
    <div>
        <label>Title</label>
        <InputText @bind-Value="newBook.Name" />
    </div>
    <div>
        <label>Author ID</label>
        <InputNumber @bind-Value="newBook.AuthorId" />
    </div>
    <div>
        <label>Price</label
        <InputNumber @bind-Value="newBook.Price" />
    </div>
    <div>
        <label>Release Date</label>
        <InputDate @bind-Value="newBook.ReleaseDate" />
    </div>
    <button type="submit">Add Book</button>
</EditForm>


@if (books is null){
    <p><em>Loading your books....</em></p>
}
else if (books.Length == 0){
    <p>No books found. Go add some!</p>
}
else{
    <table class="table table-striped table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>$@book.Price</td>
                    <td>@book.ReleaseDate.ToString("MMMM dd, yyyy")</td>
                    <td>
                        <button @onclick="() => HandleDeleteBook(book.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private BookSummaryDto[]? books;

    protected override async Task OnInitializedAsync(){
        books = await Clients.GetBooksAsync();
    }
    private CreateBookDto newBook = new();

    private async Task HandleAddBook()
    {
        await Clients.AddBookAsync(newBook);
        books = await Clients.GetBooksAsync(); // refresh the list
        newBook = new();
    }

    private async Task HandleDeleteBook(int id){
        await Clients.DeleteBookAsync(id);
        books = await Clients.GetBooksAsync();
    }
}
